.main-sidebar .Brand-Logo{
	height: 210px;
	border-bottom: 1px solid #4b545c;
    padding: 30px;
}
.main-sidebar .logo-admin{
    max-height: 100%;
}
.main-sidebar .Brand-Logo .logo-admin img{
	float: left;
	width: 100%;
}
.main-sidebar .Brand-Logo .logo-admin p{
	margin:0;
}
.main-sidebar .Brand-Logo .logo-admin div{
	float: left;
	padding-top: 15px;
	width: 58.8%;
}
.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
    margin-top: 0;
}
.sidebar {
    height: calc(100% - 14rem);
    overflow-y: auto;
    /* height: 408px; */
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
}
.hover ul{
    display: none;
}
.hover:hover ul{
	display: block;
}
.hover:hover p i{
	transform: rotate(-90deg);
	transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}

.trangThaiAn{
	opacity: 0.5;
}
.box-trang{
    justify-content: center;
    display: flex;
}
/*-------------------card-header-------------------*/
.title .card-header{
    padding-top: 30px;
    justify-content: center;
    display: block;
    padding: 1.25rem;
}
.title .card-header h3{
    font-size: 22px;
    font-weight: bold;
}
.card{
    min-height: 406px;
}
.card-header{
    display: flex;
    padding: 0;
    border: none;
}
.card .p-2{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card .card-header .no-click{
    border-bottom: #dee2e6 1px solid;
}
.card .card-header .no-click a{
    color: #105fb37d;
}
.card-header .left{
    min-width: 25%;
    position: relative;
    height: 48px;
    display: flex;
    border-right: #dee2e6 1px solid;
}
.card-header:hover a{
    color: #007bff;
}
.card-header .left h3{
    text-align: center;
    line-height: 48px;
    width: 100%;
    font-weight: bold;
}
.card-header .right{
    min-width: 75%;
    position: relative;
    height: 48px;
    display: flex;
}
.card-header .right h3{
    text-align: left;
    width: 100%;
    line-height: 48px;
    padding-left: 7%;
    font-weight: bold;
}
.card .card-option{
    padding: 1.25rem 1.25rem 0 1.25rem;
}
.card .card-body{
    border-top: none;
}
.card-body .moTaNgan{
    display: flex;
}
.card-body .moTaNgan p{
    white-space: nowrap;
    width: 595px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body .cke_inner .cke_contents{
    min-height: 584px;
}
/*-----------------------user-----------------------*/
.card-body .tab-content .form-group textarea{
    max-height: 78px;
    min-height: 78px;
}

/*----------------------- custom -----------------------*/
.card-body>.table>thead>tr>td, .card-body>.table>thead>tr>th{
    text-align: center;
    vertical-align: middle;
}
.btn.btn-info{
    margin-bottom: 12px;
}

/*----------------------- page-login -----------------------*/
.page-login {
    padding: 118px 0;
    font-family: source-han-sans-japanese, sans-serif;
    background-color: #DDD;
    overflow: hidden;
  }
  .page-login .mt-10 {
    margin-top: 10px;
  }
  .page-login .frame-form {
    background-color: #fff;
    width: 600px;
    padding: 50px;
    margin: 0 auto;
    transition: 0.5s all;
    border-radius: 15px;
  }
  .page-login .form-logo {
    height: 120px;
    text-align: center;
    margin-bottom: 80px;
  }
  .page-login .form-logo img {
    height: 100%;
    width: auto;
  }
  .page-login .form-nav {
    margin-bottom: 20px;
    padding: 0;
  }
  .page-login .form-nav-item {
    transition: 0.5s all;
    border: #ddd 1px solid;
    list-style: none;
    color: #999;
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .page-login .form-nav-item:first-child {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .page-login .form-nav-item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
  }
  .page-login .form-nav-item:not(.form-nav-active):hover {
    color: #000;
  }
  .page-login .form-nav-active {
    background-color: #333;
    color: #fff;
    border: #333 1px solid;
  }
  .page-login .form-label {
    font-size: 14px;
    line-height: 30px;
    color: #333;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
  }
  .page-login .form-input-text {
    font-size: 14px;
    padding: 12px;
    border-radius: 5px;
    border: #eee 2px solid;
    max-height: 42px;
  }
  .page-login .frame-form-login .form-button-submit {
    cursor: pointer;
    margin-top: -5px;
  }
  .page-login .form-input-text::placeholder {
    color: #bbb;
  }
  .page-login .form-button-submit {
    border: none;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s all;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
    width: 100%;
    height: 54px;
  }
  .page-login .form-button-submit:hover {
    background-color: #333;
  }
  .page-login .form-link {
    color: #0047dc;
    font-size: 12px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 60px;
    text-decoration: underline;
    transition: 0.5s all;
    margin-top: 20px;
  }
  .page-login .form-link:hover {
    opacity: 75%;
  }
  .page-login .form-button-link {
    margin-top: 20px;
    height: 54px;
    line-height: 30px;
    width: 100%;
    border: #000 2px solid;
    color: #000;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
  }
  .page-login .form-button-link:hover {
    color: #999;
  }
  .page-login .form-note {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #333;
  }
  .page-login .form-note-link {
    color: #333;
    text-decoration: revert;
  }
  .page-login .container-form {
    overflow-x: hidden;
  }
  .page-login .frame-form-login {
    transition: 0.7s all;
  }
  .page-login .frame-form-register {
    position: relative;
    top: -360px;
    left: 540px;
    transition: 0.7s all;
    opacity: 0;
  }
  .page-login .frame-form-active {
    transform: translateX(calc(-100% - 160px));
    opacity: 1;
  }
  .page-login .frame-form-inactive {
    transform: translateX(calc(-100% - 160px));
    opacity: 0;
  }


  .layout-navbar-fixed .wrapper .content-wrapper
 {
     margin-top: 0;
 }
