body {
  font-family: "Roboto", sans-serif;
  color: #000;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #ff7f00;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
@media screen and (max-width: 767px) {
  body {
    background-color: #fff;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  transition: 0.4s all;
}
button {
  transition: 0.4s all;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.mb-30 {
  margin-bottom: 30px;
}
.col-md-2-4{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.background-white {
  background-color: #fff;
}
/* css to-top*/
.bottom-fixed {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 999;
}
.bottom-fixed .bottom-fixed__item {
  margin-bottom: 10px;
  transition: 0.5s all;
}
.bottom-fixed .bottom-fixed__item:hover {
  opacity: 70%;
}
.bottom-fixed #to-top {
  opacity: 0;
  cursor: pointer;
  background-color: #ff7f00;
}
.bottom-fixed .bottom-fixed__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  opacity: 100%;
  margin-left: auto;
}
.bottom-fixed .bottom-fixed__item img{
  border-radius: 50%;
}
.bottom-fixed .to-top__img{
  height: 100%;
}
.bottom-fixed #to-top img {
  width: 50%;
  opacity: 50%;
  border-radius: 0;
}
.bottom-fixed #bottom-fixed__item--contact{
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  background-color: #ed0904;
  color: #fff;
  border-radius: 7px 7px 0 0;
  font-size: 14px;
  cursor: pointer;
}



/* css product__block */
.product__block {
  margin-bottom: 80px;
}
.product__block .product__block--title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product__block .product__block--title h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 10px;
}
.product__block .product__block--line {
  height: 1px;
  flex: 1;
  border-top: #d0d0d0 1px solid;
  margin: 0 15px;
}
.product__block .product__block--link a {
  font-size: 12px;
  color: #0e0e0e;
  font-weight: bold;
  text-transform: uppercase;
}
.product__block .product__block--link a:hover {
  color: #ff7f00;
}
.product__block .product__block--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -60px;
}
.product__block .product__block--item {
  padding: 0 15px;
  margin-bottom: 60px;
}
.product__block--sale .productSwiper, .product__block--hot .productSwiper {
  margin-bottom: -60px;
  margin-left: -15px;
  margin-right: -15px;
}
/* css made__block */
.made__block {
  margin-bottom: 80px;
}
.made__block .made__block--heading {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 20px;
  text-align: center;
}
.made__block .made__block--link {
  font-size: 12px;
  color: #0e0e0e;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.made__block .made__block--link:hover {
  color: #ff7f00;
}
.made__block .made__block--list {
  margin-bottom: -60px;
}
.made__block .made__block--item {
  margin-bottom: 60px;
}
.made__block .made__block--item:hover .made__block--name {
  color: #ff7f00;
}
.made__block .made__block--name {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 15px;
  height: 62px;
  color: #0d0d0d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  transition: 0.5s all;
  -webkit-line-clamp: 3;
}
/* css card__product */
.card__product {
  padding: 5px;
  transition: 0.4s all;
  font-weight: bold;
  height: 100%;
}
.card__product .cardvproduct--img {
  border: #ebebeb 1px solid;
}
.card__product .card__product--name {
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 15px;
  height: 48px;
  color: #0d0d0d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}
.card__product .card__product--promotional {
  font-size: 24px;
  color: #ed0904;
}
.card__product .card__product--cost {
  font-size: 14px;
  color: #4a4957;
  text-decoration: line-through;
}
.card__product:hover {
  box-shadow: 0 0 6px 0 #a1a1a1;
}

/* css card__product */
.voucher__block {
  padding: 40px 140px;
  background-image: url(../images/common/background-voucher.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.voucher__block .voucher__block--content {
  justify-content: space-between;
}
.voucher__block .voucher__block--left {
  justify-content: center;
}
.voucher__block .voucher__block--title {
  padding: 10px 30px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 0 auto 60px auto;
  width: 80%;
  text-shadow: 2px -1px 2px grey;
  text-align: center;
  background-image: url(../images/common/background-title-voucher.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.voucher__block .voucher__block--note, .voucher__block .voucher__block--time {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #cc0003;
  background-color: #f0ede8;
  border-radius: 12px;
  text-transform: uppercase;
}
.voucher__block .voucher__block--note {
  width: 100%;
  font-size: 36px;
  margin-bottom: 60px;
}
.voucher__block .voucher__block--date {
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 0 40px;
  letter-spacing: 0.05em;
}
.voucher__block .voucher__block--time {
  font-size: 42px;
  position: relative;
  font-weight: bold;
  margin: 0 -40px;
}
.voucher__block .voucher__block--time span {
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.voucher__block .voucher__block--input, .voucher__block .voucher__block--button {
  background-color: #f0ede8;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: none;
}
.voucher__block .voucher__block--input {
  width: 100%;
  padding-left: 25px;
  font-size: 14px;
  outline: unset;
}
.voucher__block .voucher__block--input::placeholder {
  color: #4a4957;
}
.voucher__block .voucher__block--button {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}

.breadcrumb__block{
  border-bottom: 1px #ced4da solid;
}
.breadcrumb__block .breadcrumb{
  margin-bottom: 0;
  padding: 7px 0;
  font-size: 14px;
}
.breadcrumb__block a{
  color: #000;
}

/* css service__block */
.service__block{
  background-color: #636363;
  padding: 60px 0;
}
.service__block .main-container{
  position: relative;
}
.service__block--heading{
  margin-bottom: 60px;
  font-size: 40px;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}
.service__block--top, .service__block--bottom{
  justify-content: space-between;
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.service__block--center{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__block--logo{
  width: 155px;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(8% 25%, 50% 0, 92% 25%, 92% 75%, 50% 100%, 8% 75%);
  position: relative;
}
.service__block--logo::before{
  content: "";
  width: 155px;
  height: 150px;
  clip-path: polygon(10% 26%, 50% 2%, 90% 26%, 90% 74%, 50% 98%, 10% 74%);
  position: absolute;
  top: 0px;
  background-color: #909090;
}
.service__block--logo img{
  width: 55%;
  z-index: 2;
}
.service__block--item{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px #fff solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s all;
  background-color: #636363;
  z-index: 2;
  position: relative;
}
.service__block--item:hover{
  box-shadow: 0px 0px 20px 0px rgb(232 140 48);
  -webkit-box-shadow: 0px 0px 20px 0px rgb(232 140 48);
}
.service__block--name{
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.service__block--line div{
  position: absolute;
  height: 1px;
  background-color: #fff;
}
.service__block--line div:nth-child(1){
  width: 50%;
  transform: rotate(30deg) translateY(-50%) translateX(-52%);
  top: 90%;
  right: 2.5%;
}
.service__block--line div:nth-child(2){
  width: 85%;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}
.service__block--line div:nth-child(3){
  width: 50%;
  transform: rotate(330deg) translateY(-50%) translateX(-52%);
  top: 10%;
  right: 2.5%;
}


.news__block{
  padding: 60px 0;
}
.news__block--row{
  margin: 0 -20px;
}
.news__block--col{
  padding: 0px 20px;
}
.news__block--title{
  align-items: center;
  margin-bottom: 20px;
}
.news__block--title h3{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0e0e0e;
  margin: 10px 0;
}
.news__block--line{
  flex: 1;
  height: 1px;
  border-top: #000 2px dashed;
  margin: 0 10px;
}
.news__block--link{
  font-size: 12px;
    color: #0e0e0e;
    font-weight: bold;
    text-transform: uppercase;
}
.news__block--link:hover{
  color: #ff7f00;
}
.news__block--list{

}
.news__block--item{
  margin-bottom: 30px;
}
.news__block--item:last-child{
  margin-bottom: 0;
}
.news__block--img img{
  object-fit: cover;
}
.news__block--description{
  margin-bottom: 0;
}
.news__block--description a{
  text-align: justify;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 7;
  color: #000;
  line-height: 20px;
}
.news__block--description a:hover{
  color: #ff7f00;
}



.textmore__block {
  padding-bottom: 60px;
}
.textmore__block > h2 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.02em;
}
.textmore__block > p {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  line-height: 2;
  margin-top: 30px;
}

.textmore__block--content {
  position: relative;
  overflow: hidden;
  transition: 0.5s all;
}
.textmore__block--content1{
  height: 150px;
}
.textmore__block--content2{
  height: 750px;
}
.textmore__block--content p{
  margin-bottom: 0;
  text-align: justify;
}
.textmore__block--overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(transparent, #ffffff);
}
.textmore__block--button{
  background: #000;
  position: relative;
  margin:20px auto 0 auto;
  padding: 5px 30px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 180px;
  font-family: none;
  border-radius: 25px;
  border: #fff 1px solid;
}
.textmore__block--button:hover{
  background: #ff7f00;
  color: #fff;
  border: #fff 1px solid;
}