.compressed_intro--text {
    margin: 50px 0 50px 0;
    /* padding :  0 50px 0 50px ;  */
}
.compressed_intro--text > h2 {
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.02em;
}
.compressed_intro--text > p {
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin-top: 30px;
}

.footer__text {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    line-height: 25px;
    margin-top: 70px;
}
.footer__text_paragraph {
    position: relative;
    height: 200px;
    overflow: hidden;
    transition: 0.5s all;
}
/* .footer__text_paragraph::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(transparent, #ffffff);
} */
.footer__text_readMore_btn {
    background: #1e1e1e;
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-size: 15px;
}
.footer__text .footer__text_readMore_btn ::before {
    content: "Read more";
    color: white;
}
